.currentProject{
    padding: 75px 40px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        padding-bottom: 130px;
    }
}