.plan{
    width: 40vw;

  
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // text-align: left;
}

.right{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    // text-align: right;
}

.title{
    text-align: center;
}


.subtitle{
    margin-top: 12px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.steps{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.stepLeft{
    align-items: flex-start;
}

.stepRight{
    align-items: flex-end;
}

.haveTo{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.planLeft{
    align-items: flex-start;
}

.planRight{
    align-items: flex-end;
}