.about{
    padding-top: 75px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    h2{
        padding-bottom: 60px;

    }

    .text{
        display: flex;
        flex-direction: column;
        padding-bottom: 120px;
    }

    .journey{
        padding-top: 50px;
        h3{
            font-size: 32px;
            text-align: center;
            text-transform: uppercase;
            padding-bottom: 10px;
            
            
        }
    }
}