.about{
    padding: 75px 40px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    h2{
        padding-bottom: 60px;

    }

    .personal{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

    .text{
        max-width: 600px;
    }

    .wrapper{
        max-width: 326px;
        max-height: 405px;
        min-width: 200px;

    
    .image{
        // max-width: 326px;
        max-height: 405px;
        width: 100%;
        height: 100%;
        border-radius: 15%;

    }
    
    }


    .content{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        // padding-bottom: 120px;
    }

    .journey{
        padding: 0 auto;

        padding-top: 50px;
        h3{
            font-size: 32px;
            text-align: center;
            text-transform: uppercase;
            padding-bottom: 40px;
            padding-top: 10px;
            letter-spacing: 2px;
            color: #fff;
            
            
        }
    }
}