.contact{

    padding-top: 75px;
    max-width: 1200px;
    padding: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
  
    justify-content: center;

    .wrap{
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
    
    .formWrapper{
        max-width: 600px;
        width: 600px;
    }

    .textWrapper{
        display: flex;
        align-items: center;
    }
    

    h2{
        padding-bottom: 60px;
        text-align: center;
    }

}