.contact{

    padding: 75px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
  
    justify-content: center;


    @media (max-width: 1080px){
        width: 100%;
        
    };

    h2{
        padding-bottom: 60px;
        text-align: center;
    }

    .wrap{
        display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: center;
    // align-self: stretch;
    gap: 35px;

    @media (max-width: 1080px){
        flex-direction: column-reverse;
        align-items: center;
    };
}
    
    .formWrapper{
        max-width: 600px;
        width: 600px;

        @media (max-width: 1080px){
            display: flex;
            flex-direction: column;
            align-items: center;
            
        };

        @media (max-width: 768px) {
            width: 75vw;
          }
    }

    }

    .textWrapper{
        display: flex;
        flex-direction: column;
        max-width: 400px;
        gap: 20px;
        text-align: end;

        @media  (max-width: 1080px) {
            gap: 2px;
            max-width: 75vw;
            width: 75vw;
            text-align: center;
        }
        
    


    .link{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;

        @media (max-width: 1080px) {

            padding-top: 8px;
            
        }

        @media (max-width: 600px) {

            font-size: 16px;
            
        }

    }

}