.contact{

    padding-top: 75px;
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
  
    justify-content: center;

    .wrap{
        display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: center;
    // align-self: stretch;
    gap: 35px;

    @media (max-width: 1080px){
        flex-direction: column-reverse;
        align-items: center;
    };
}
    
    .formWrapper{
        max-width: 600px;
        width: 600px;
    }

    .textWrapper{
        display: flex;
        flex-direction: column;
        max-width: 400px;
        gap: 20px;

        @media  (max-width: 1080px) {
            gap: 2px;
        }
        
    }
    

    h2{
        padding-bottom: 60px;
        text-align: center;
    }


    .link{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;

        @media (max-width: 1080px) {

            padding-top: 8px;
            
        }

    }

}