* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-style: normal;
    color: #ffa115;
}

h1{

    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 66px;

}



h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 46px;
  }
  
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
  }