* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-opensans);
}

body{
    font-style: normal;
    color: #E67E22;
}

h1{
    font-family: var(--font-montserrat);
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 66px;

}



h2 {
    // font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 46px;
  }
  
  p {
    font-family: var(--font-opensans);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
  }