.footer{
    padding-top: 280px;
    margin: 0 auto;
    text-align: center;

    .text{
        text-transform: uppercase;
        letter-spacing: 2px;
        opacity: 0.5;
        font-size: 14px;
        font-family: var(--font-montserrat);
    }

}