.yearBlock {
  margin-bottom: 100px;
  text-align: center;
  padding: 2rem 1rem;

@media (max-width: 768px) {
  padding: 1.5rem 1rem;
}
}


.timelineWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px; // or however tall your block needs
  overflow: hidden; // <-- KEY
}

  



  .yearDivider {
    display: flex;
    align-items: center;
    justify-content: center;
    // gap: 1rem;
    margin-bottom: 2rem;
  }
    .line {
      width: 150px;       // fixed width for visual balance
      height: 2px;
      background-color: #fff;
      transform-origin: center; // default fallback
      z-index: 0;
    }
    
    .leftLine {
      transform-origin: right; // draws from right toward center
    }
    
    .rightLine {
      transform-origin: left;  // draws from left toward center
    }
    

  .year {
    font-weight: bold;
    font-size: 24px;
    color: $orangeColor;
    white-space: nowrap;
    letter-spacing: 2px;
  }


.yearDescription {
  font-size: 18px;
  // color: #eee;
  max-width: 700px;
  margin: 0 auto 16px;
  line-height: 1.6;
}

.yearProjects {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  padding-top: 10px;

  .projectLink {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;

    &:hover {
      color: $orangeColor;
    }
  }
}
