.skills{
    padding: 75px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    h2{
        text-align: center;
    }

    .grid{

        padding-top: 80px;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(5, 1fr);
        gap: 80px;

        @media (max-width: 965px) {
            grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(3, 1fr);
        }
    }


}